@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
        box-sizing: border-box;
        background-color: #0d1117;
}

body {
        color: white;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
}

li, a {
        color: #55a1f7;
        text-decoration: none;
}

header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 10%;
        margin: 0;
}

/* Mobile menu */

.menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
}

.menu li a {
        display: block;
        padding: 15px 5px;
}

.menu {
        list-style: none;
}

.menu li {
        display: inline-block;
        padding: 0px 30px;
}

.menu li a {
        transition: all 0.3s ease 0s;
}

.menu li a:hover {
        color: #0088a9;
}

/* Tablet menu */

@media all and (min-width: 700px) {
        .menu {
                justify-content: center;
        }
        .logo {
                flex: 1;
        }
}

/* Desktop menu */

@media all and (min-width: 960px) {
        .menu {
                align-items: flex-start;
                flex-wrap: nowrap;
                background: none;
        }
        .logo {
                order: 0;
        }
        .item {
                order: 1;
                position: relative;
                display: block;
                width: auto;
        }
}