*{
        
        font-family: 'Monserrat', sans-serif;
        text-align:center;
        background-color: #0d1117;      
}

body{
        color: white;
}

a{
        color: #55a1f7;
}




  
 
